
body{
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	/*margin-left:auto;*/
	/*margin-right:auto;*/
    background-color:#222;
	color:#EEE;
	margin: 10px;
}

input,select{
    background-color:#444;
}

textarea.textarea{
	display: block;
	width:auto;
	height:auto;
	overflow-x: scroll;
	overflow-y: scroll;
	font-family: monospace;
	line-height: initial;
	resize:none;
	white-space: pre;
	tab-size: 4 ;
	background-color:#222;
	color: #DDD;
}

hr{
	color: #777; 
}
pre{
	color: #EEE;
}

.flexboxRow{
	display:flex;
	flex-direction: row;
}
.flexboxCol{
	display: flex;
	flex-direction: column;
}

.flexcontainer{
	flex: 1;
}

.flexcontainer.list{
	flex: 0;
	flex-basis: 160px;
}

.fill{
	width:100%;
	height:100%;
}

.space{
	padding:4px;

}

.border{
	margin:2px;
	border-width: 2px;
	border-style: solid;
	border-color: #777;
	border-radius: 5px;
	padding:1px;
}

.border_lr{
	margin:2px;
	border-width: 0px 2px;
	border-style: none solid;
	border-color: #777;
	padding:1px;
}
